<!DOCTYPE html>

<html>

<head>
  <title>{{title}}</title>
  <link rel="icon" href="/img/favicon.png"/>
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by Antonio Aspite. It uses data from mapbox.com and darksky.net.</p>
  </div>
  {{>footer}}
</body>

</html>